*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #000;
    color: #fff;
    margin: 0 20px;
    text-align: center;
}
.poster{
    width: 100%;
    margin:10px auto;
    padding: 10px;
    font-family: 'arial';
}
img{
    width: 100%;
    border: 2px solid #fff;
    border-radius: 8px;
}
h1{
    text-align: center;
    padding: 40px 0 20px 0;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    margin: auto;
}
h2{
    text-align: center;
    padding: 15px;
}
p{
    text-align: justify;
}
.copy{
    text-align: center;
    padding: 10px;
    border-top: 1px solid #fff;
    margin: auto;
}
.poster, h1, h2, .copy{
    max-width: 700px;


}
